* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #232253;
    border-radius: 30px 0px 0px 30px;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #031136;
    border-radius: 0px 30px 30px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 1rem solid #031136;
}

.profile .profile-image {
    border-radius: 100%;
    padding: 2rem;
    width: 15rem;
    height: 15rem;
    margin: auto;
    display: block;
}

.name {
    color: #D6DBDF;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.profession {
    color: #eeeeee;
    font-size: 20px;
    text-align: center;
    padding-top: .5;
    padding-bottom: 1rem;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */

.contact-info ul {
    padding-top: 1rem;
}

.left-title {
    color: #eeeeee;
    font-size: 20px;
    padding-top: 1rem;
    padding-left: 2rem;
}

.contact-info ul li,
.references ul li {
    padding-left: 2rem;
    color: #eeeeee;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 16px;
    color: #eeeeee;
}

.skills ul {
    padding-top: 1rem;
    padding-left: 2rem;
}
.skills ul li p {
    padding-left: 1rem;
    padding-right: 2rem;
    color: #eeeeee;
    text-align: justify;
}

.right-section-contents {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    border-bottom: 1rem solid #232253;
}

.right-title {
    font-size: 20px;
    color: #ffffff;
}

.right-title-2 {
    font-size: 20px;
    color: #ffffff;
    padding-top: 3rem;
    padding-left: 3rem;
}

.right-title-3 {
    font-size: 20px;
    color: #ffffff;
    padding-left: 3rem;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 16px;
    color: #ffffff;
    text-align: justify;
}

.experience-contents,
.education-contents,
.education-contents-2,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    color: #ffffff;
    padding-left: 3rem;
    padding-top: 1rem;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 16px;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 16px;
    padding-top: .2rem;
}

.exp-right {
    font-size: 16px;
    padding-right: 3rem;
    text-align: justify;
}

.exp-description {
    padding-top: .2rem;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 16px;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
}

.education-school-name-2, 
.education-time-period-2 {
    font-size: 16px;
    color: #F1F8FD;
}

.education-subject-2, 
.education-desc-2 {
    font-size: 16px;
    color: #F1F8FD;
}

